#photo {
    margin: 0 auto;
    width: 200px;
    height: 400px;
    background-color: aqua;

}


#part1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#left {
    width: 240px;
    height: 580px;
    background-color: blue;
    float: left;

}

#right {
    width: 784px;
    height: 580px;
    background-color: aquamarine;
    float: left;
}

#welcome {
    width: 1024px;
    height: 580px;
    margin: 0 auto;
}

.left1 {
    width: 240px;
    height: 240px;
    background-color: black;
}

